@page "/"
@using blazorDemo.components

<h1>Hello, world!</h1>
@*this does require an import, listed in shared imports*@
@*<MyFirstComponent/>*@
Welcome to your new app.

@*embedding component into this page, no import required!*@
<Counter />

<SurveyPrompt Title="How is Blazor working for you?" />

